@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    font-family: 'Montserrat', sans-serif !important;
}

.draft-editor{
    min-height: 300px;
    max-height:max-content;
}
@tailwind base;
@tailwind components;
@tailwind utilities;